body{
  background-color: whitesmoke;

}

h5{ 
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}

li {
  font-size: 16px;
}

ul li a{
  display: block;
  text-decoration: none;
  padding: 5px;
  color: black;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
li:hover{
  background-color: darkgrey;
}
a:hover{
  color: whitesmoke;
}

#botao{
  background-color: grey;
  color: white;
  border: none;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
  display: block;
}

#tabela{
  background-color: white;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

span{
  background-color: gray;
  color: white;
}

#selectCidade{
  color: black;
  border: 1px solid gray;
}

#selectEstado{
  color: black;
  border: 1px solid gray;
}

#login{
  color: black;
  background-color: white;
  border: solid gray;
}
